.feedback-btn {
  font-size: 12px;

  position: fixed;
  right: -1px;
  bottom: 170px;
  width: auto;
}

#feedback-module p {
  font-size: 13px;
}

#feedback-note-tmp {
  font-family: Arial, sans-serif;

  width: 444px;
  height: auto;
  min-height: 90px;
  padding: 4px;

  outline: none;
}

#feedback-info {
  margin-top: 2.4em;
  margin-bottom: 0;
}

#feedback-additional-info > li > p {
  margin-top: 0;
  margin-bottom: 0;
}

#feedback-note-tmp:focus,
#feedback-overview-note:focus {
  border: 1px solid #64b7cc;
}

#feedback-canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#feedback-welcome {
  position: fixed;
  top: 30%;
  left: 50%;

  display: block;

  margin-left: -270px;
}

.feedback-logo {
  font-size: 16px;
  font-weight: normal;
  line-height: 32px;

  width: 34px;
  height: 32px;
  margin-bottom: 16px;
  padding-left: 40px;

  background: url(icons.png) -0 -0 no-repeat;
}

.feedback-next-btn {
  font-size: 13px;
  line-height: 27px;

  float: right;

  width: 72px;
  height: 29px;
  padding: 0 8px;
}

.feedback-back-btn {
  font-size: 13px;
  line-height: 27px;

  float: right;

  width: 72px;
  height: 29px;
  margin-right: 20px;
  padding: 0 8px;
}

.feedback-submit-btn {
  font-size: 13px;
  line-height: 27px;

  float: right;

  width: 72px;
  height: 29px;
  padding: 0 8px;
}

.feedback-close-btn {
  font-size: 13px;
  line-height: 27px;

  float: right;

  width: 72px;
  height: 29px;
  padding: 0 8px;
}

.feedback-helper {
  cursor: default;

  background: rgba(0, 0, 0, 0);
}

.feedback-helper[data-type='highlight'] > .feedback-helper-inner {
  background: rgba(0, 68, 255, .1);
}

#feedback-close {
  position: absolute;

  width: 30px;
  height: 30px;

  cursor: pointer;

  background: url(icons.png) -0 -64px;
}

.feedback-wizard-close {
  position: absolute;
  top: 2px;
  right: 2px;

  width: 30px;
  height: 30px;

  cursor: pointer;

  opacity: .65;
  background: url(icons.png) -0 -34px;
}

.feedback-wizard-close:hover {
  opacity: 1;
}

#feedback-welcome-error,
#feedback-overview-error {
  font-size: 13px;
  line-height: 29px;

  display: none;
  float: right;

  margin-right: 30px;

  color: #f13e3e;
}

#feedback-overview-error {
  margin-top: 20px;
}

#feedback-highlighter {
  position: fixed;
  right: 100px;
  bottom: 100px;

  display: none;

  width: 540px;
  height: 275px;
}

#feedback-overview {
  position: fixed;
  top: 10%;
  left: 50%;

  display: none;

  width: 840px!important;
  height: auto;
  margin-left: -420px;
}

#feedback-submit-error,
#feedback-submit-success {
  position: fixed;
  top: 30%;
  left: 50%;

  display: block;

  width: 600px;
  height: auto;
  margin-left: -300px;
}

.feedback-btn {
  z-index: 4000;

  padding: 5px 10px;

  outline: 0;
  background-clip: padding-box;
  box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
  transform-origin: right bottom 0;
  transform: rotate(270deg);
}

.feedback-btn-gray {
  font-family: 'Open sans';

  cursor: pointer;
  text-align: center;

  color: #444;
  border: 1px solid #dcdcdc;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 2px;
  background-color: #f5f5f5;
  background-image: linear-gradient(to bottom, #f5f5f5, #f1f1f1);
}

.feedback-btn-gray:hover {
  color: #333;
  border: 1px solid #c6c6c6;
  background-color: #f8f8f8;
  background-image: linear-gradient(to bottom, #f8f8f8, #f1f1f1);
}

.feedback-btn-blue {
  font-family: 'Open sans';

  cursor: pointer;
  text-align: center;

  color: #fff;
  border: 1px solid #2f5bb7;
  border-radius: 2px;
  background-color: #357ae8;
  background-image: linear-gradient(to bottom, #4d90fe, #357ae8);
}

#feedback-note-tmp,
#feedback-overview-note {
  resize: none;
}

#feedback-welcome,
#feedback-highlighter,
#feedback-overview,
#feedback-submit-success,
#feedback-submit-error {
  font-family: Arial, sans-serif;

  z-index: 40000;

  box-sizing: border-box;
  width: 540px;
  padding: 30px 42px;

  -webkit-transform: translateZ();

  border: 1px solid rgba(0, 0, 0, .333);
  outline: 0;
  background: #fff;
  background: #fff;
  background-clip: padding-box;
  box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
}

.feedback-sethighlight,
.feedback-setblackout {
  font-size: 11px;
  font-weight: bold;
  line-height: 28px;

  display: inline-block;
  float: left;

  min-width: 90px;
  height: 30px;
  margin-right: 16px;
  padding: 0 8px;

  cursor: default;
  text-align: center;
  white-space: nowrap;

  color: #444;
  border: 1px solid #dcdcdc;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 2px;
  outline: 0;
  background-color: #f5f5f5;
  background-image: linear-gradient(to bottom, #f5f5f5, #f1f1f1);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.feedback-setblackout {
  clear: both;

  margin-top: 10px;
}

.feedback-sethighlight div {
  float: left;

  width: 16px;
  height: 16px;
  margin-top: 7px;

  background: url(icons.png) 0 -94px;
}

.feedback-setblackout div {
  float: left;

  width: 16px;
  height: 16px;
  margin-top: 7px;

  background: url(icons.png) -16px -94px;
}

.feedback-sethighlight:hover,
.feedback-setblackout:hover {
  color: #333;
  border: 1px solid #c6c6c6;
  background-color: #f8f8f8;
  background-image: linear-gradient(to bottom, #f8f8f8, #f1f1f1);
  box-shadow: none;
}

.feedback-active {
  color: #333;
  border: 1px solid #ccc;
  background-color: #eee;
  background-image: linear-gradient(to bottom, #eee, #e0e0e0);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

#feedback-highlighter label {
  font-size: 13px;
  font-weight: normal;
  line-height: 30px;

  float: left;

  margin: 0 0 0 10px;
}

#feedback-highlighter label.lower {
  margin-top: 10px;
}

.feedback-buttons {
  float: right;
  clear: both;

  margin-top: 20px;
}

#feedback-module h3 {
  font-size: 15px;
  font-weight: bold;

  margin: 8px 0;
}

.feedback-additional {
  margin-bottom: 20px!important;
}

#feedback-overview-description {
  float: left;
}

#feedback-overview-note {
  font-family: Arial, sans-serif;

  width: 314px;
  height: 90px;
  padding: 4px;

  outline: none;
}

#feedback-overview-screenshot {
  float: right;
}

.feedback-screenshot {
  max-width: 396px;
  padding: 1px;

  border: 1px solid #adadad;
}

#feedback-overview-description-text span {
  font-size: 14px;

  margin: 8px 0;
  margin-left: 26px;
  padding-left: 10px;

  color: #666;
  background: url(icons.png) -30px -34px no-repeat;
}

#feedback-browser-info,
#feedback-page-info,
#feedback-page-structure,
#feedback-additional-none {
  display: none;

  margin-top: 16px;
}
